/* Text */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,900,800);

body {
	font-family: 'Raleway', sans-serif; 
	max-width: 1080px;
	margin:0 auto;
	background: #ff0b07; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ff0b07 0%, #e51e00 22%, #db1406 50%, #d12010 75%, #ad1400 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ff0b07), color-stop(22%,#e51e00), color-stop(50%,#db1406), color-stop(75%,#d12010), color-stop(100%,#ad1400)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #ff0b07 0%,#e51e00 22%,#db1406 50%,#d12010 75%,#ad1400 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #ff0b07 0%,#e51e00 22%,#db1406 50%,#d12010 75%,#ad1400 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #ff0b07 0%,#e51e00 22%,#db1406 50%,#d12010 75%,#ad1400 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #ff0b07 0%,#e51e00 22%,#db1406 50%,#d12010 75%,#ad1400 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0b07', endColorstr='#ad1400',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



a {
	text-decoration: none;
}

/* header */

#pageHeading {
	margin: 3em 0 0 0;
}

h1 {
	font-weight: 900;
	font-size: 6em;
	text-align: center;
	display:inline-block;
	width: 100%;
	margin: 0.5em 0;
	-webkit-transform: rotate(-10deg) skew(-10deg, 0);
	   -moz-transform: rotate(-10deg) skew(-10deg, 0);
	    -ms-transform: rotate(-10deg) skew(-10deg, 0);
	     -o-transform: rotate(-10deg) skew(-10deg, 0);
	        transform: rotate(-10deg) skew(-10deg, 0);
	text-shadow: 6px 4px 0 #fff, 6px 4px 0 #fff, 6px 4px 0 #fff, 0 0px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #fff;
	color:#2c539e;        

}

h6 {
	font-size: 0.8em;
	font-weight: 800;
	color: #fff;
	margin: 0.8em 0;
}

#pause {
	text-align: right;
}

/* #intro div */

.content {
	background-color: #F4A460;
	border-radius: 100px 100px 20px 20px;
	padding-top: 30px;
}

/* #intro div */

h2 {
	float: left;	
	font-weight: 400;
	font-size: 4em;
	width: 35%;
	text-align: center;
	color: #2C539E;
}

h2 span {
	font-weight: 800;
}

#intro p {
	color:#ff3019;
	float: left;
	font-weight: 800;	
	width:60%;
	padding-right: 5%;
	font-size: 2em;
	line-height: 2em;
	text-align: center;	
}

/* Generator */

#generator {
    padding: 1em 3em 2em 3em;
	width: 100%;
	margin: 3em 0em 3em -3em;
	border-top: 10px solid #D12010;
	border-bottom: 10px solid #D12010;	
	background: yellow; /* Old browsers */
}

/* button */

#button {
	text-align: center;
	float: left;
	width: 30%;
}

#button a {
	text-decoration: none;
	color: white;
	font-weight: 800;
	font-size: 1.5em;	
}

#pushTheButton span {
	background: #ff0b07; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ff0b07 0%, #e51e00 22%, #db1406 50%, #d12010 75%, #ad1400 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ff0b07), color-stop(22%,#e51e00), color-stop(50%,#db1406), color-stop(75%,#d12010), color-stop(100%,#ad1400)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #ff0b07 0%,#e51e00 22%,#db1406 50%,#d12010 75%,#ad1400 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #ff0b07 0%,#e51e00 22%,#db1406 50%,#d12010 75%,#ad1400 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #ff0b07 0%,#e51e00 22%,#db1406 50%,#d12010 75%,#ad1400 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #ff0b07 0%,#e51e00 22%,#db1406 50%,#d12010 75%,#ad1400 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0b07', endColorstr='#ad1400',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border-radius: 500px;
	height:150px;
	width:150px;
	margin: 1em auto;
	box-shadow: 0 6px 0 darkred;
	display: block;
	line-height: 150px;
}

#pushTheButton span:hover {
	position: relative;
	top: 1px;		
	box-shadow: 0 5px 0 darkred;	
}

#pushTheButton span:active {
	box-shadow: 0 2px 0 darkred;
	position: relative;
	top: 5px;	
}

/* brief */

#brief {
	float: right;
	width: 70%;
	font-size: 1.5em;
	margin: 1em 0;
}

#brief p {
	line-height: 1.5em;
	padding-bottom-bottom: 1em;
}

.ui li, .client li, .demands li {
	display : none;
}
.uiNames {
	color: #ff3019;
	font-weight: 800;
	display:inline;	
}
.demandsNames {
	color:#2C539E;
	font-weight: 800;
	display:inline;		
}
.clientNames {
	color:#0E8C3A;
	font-weight: 800;
	display:inline;	
}
p {
	margin: 0;
	display: inline;
}
ul {
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
}

/* Help */

#help {
	margin: 0 2%;
	padding-bottom: 2em; 
}


#help p {
	line-height: 1.5em;
}

.counting {
    border: 10px solid;
    border-radius: 100px 100px 100px 100px;
    font-size: 3em;
    font-weight: 900;
    height: 60px;
    left: 70%;
    top:-30px;
    opacity: 0.3;
    position: absolute;
    text-align: center;
    width: 60px; 
}   

h3 {
	font-weight: 800;
	color:yellow;
}

.help-third {
	width: 32%;
	margin-left:1%;
	float: left;
	position: relative;
}

.help-full {
	width: 50%;
	margin: 4em auto;
	padding: 20px;
	border:5px solid yellow;
	border-radius: 10px;
	line-height: 1.5em;
	color:#fff;
}

.help-full p {
	padding-bottom: 1em;
	display: block;
	color: #F4A460;
}

#faq {
	cursor: pointer;
}

footer {
	text-align: center;
	padding:20px 0;	
}

footer a {
	color:#fff;
	font-weight: 800;
}
/* Media Queries */



.clear {
	clear: both;
}