/* Text */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,900,800);

body {
	font-family: 'Raleway', sans-serif; 
	max-width: 1080px;
	margin:0 auto;
	background: #ff3019; /* Old browsers - http://www.colorzilla.com/gradient-editor/#ff3019+0,cf0404+100;Red+3D */
	background: -moz-radial-gradient(center, ellipse cover, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #ff3019 0%,#cf0404 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #ff3019 0%,#cf0404 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #ff3019 0%,#cf0404 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



a {
	text-decoration: none;
}

/* header */

#pageHeading {
	margin: 3em 0 0 0;
}

h1 {
	font-weight: 900;
	font-size: 6em;
	text-align: center;
	display:inline-block;
	width: 100%;
	margin: 0.5em 0;
	-webkit-transform: rotate(-10deg) skew(-10deg, 0);
	   -moz-transform: rotate(-10deg) skew(-10deg, 0);
	    -ms-transform: rotate(-10deg) skew(-10deg, 0);
	     -o-transform: rotate(-10deg) skew(-10deg, 0);
	        transform: rotate(-10deg) skew(-10deg, 0);
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #fff;
	color:#2c539e;        

}

h6 {
	font-size: 0.8em;
	font-weight: 800;
	color: gray;
	margin: 0.8em 0;
}

#pause {
	text-align: right;
}

/* #intro div */

.content {
	background-color: #fff;
	border-radius: 100px 100px 0 0;
	padding-top: 30px;
}

/* #intro div */

h2 {
	float: left;	
	font-weight: 400;
	font-size: 4em;
	width: 35%;
	text-align: center;
	color: #2C539E;
}

h2 span {
	font-weight: 800;
}

#intro p {
	color:#ff3019;
	float: left;
	font-weight: 800;	
	width:60%;
	padding-right: 5%;
	font-size: 2em;
	line-height: 2em;
	text-align: center;	
}

/* Generator */

#generator {
    padding: 1em 10% 2em;
	width: 80%;
	margin: 3em auto;
	border-top: 10px solid #FF3019;
	border-bottom: 10px solid #FF3019;	
	background: yellow; /* Old browsers */
}

/* button */

#button {
	text-align: center;
	float: left;
	width: 30%;
}

#button a {
	text-decoration: none;
	color: white;
	font-weight: 900;
	font-size: 2em;	
}

#pushTheButton span {
	background-color: red;
	border-radius: 500px;
	height:150px;
	width:150px;
	margin: 1em auto;
	box-shadow: 0 6px 0 darkred;
	display: block;
	line-height: 150px;
}

#pushTheButton span:hover {
	position: relative;
	top: 1px;		
	box-shadow: 0 5px 0 darkred;	
}

#pushTheButton span:active {
	box-shadow: 0 2px 0 darkred;
	position: relative;
	top: 5px;	
}

/* brief */

#brief {
	float: right;
	width: 70%;
	font-size: 1.5em;
	margin: 1em 0;
}

#brief p {
	line-height: 1.5em;
	padding-bottom-bottom: 1em;
}

.ui li, .client li, .demands li {
	display : none;
}
.ui {
	color: red;
	font-weight: 800;
	padding: 2px 5px;
}
.demands {
	color:blue;
	font-weight: 800;
	padding: 2px 5px;
}
.client {
	color:green;
	font-weight: 800;
	padding: 2px 5px;
}
p {
	margin: 0;
	display: inline;
}
ul {
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
}

footer {
	text-align: center;
}
/* Media Queries */



.clear {
	clear: both;
}